.categories-container {
    min-height: 100vh;
}

.header {
    border-bottom: 1px solid #2d3447;

}

.header .icon {
    font-size: 24px;
    cursor: pointer;
}

.category-card {
    background-color: #1c2539;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.text-light {
    color: #ffffff !important;
}