.registration-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url('https://s3-alpha-sig.figma.com/img/0368/c22a/b031f0ade82ec13db272ea276a0e4068?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bNB67hVd~2VdafVwS~2k0wbrigg-ytxlbgIe4cKZLvcEWzcB4MwVEUHNdQyEh8chhrcD~sasDf3VogckhF6PvMnIxH6Dew3y9QJHcMCXS6R8ELdVs4w88Rg1s4fCzv2JVif4ErH3YRBRMHoOCCSRSX9zdaslgTZAey-FYrZw5JpoR1~qQFrxl1f07p5YtU~yTNirEIJEb28CK1BJcyU0STV1ypTzI-X2yz5KrGM~IckzJW8Z-tmF4qzIDOB-lHPtos0XXR~plVOmDGLiE6kqwXl4ulE57MHLvpPQdau6cjX3Tng7n4pNEull1KOOn053OdnERg~9GwGdlPYH04a51w__');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 70px;
}

.registration-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 43, 0.7);
    z-index: 1;
}

.registration-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 600px;
    background-color: #2A2A38;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    gap: 15px;
}

.half-width {
    flex: 1 1 48%;
}

.input-group input {
    flex: 1 1 30%;
}

.full-width {
    width: 100%;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.register-button {
    padding: 12px;
    background-color: #CA923D;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.register-button:hover {
    background-color: #9a6f2f;
}

.form-check-input {
    margin-right: 10px;
}

.registration-form input::placeholder {
    color: #fff;
}

.registration-form select::placeholder {
    color: #fff;
}

.form-check-input {
    margin-right: 8px;
}

.form-check-label {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.registration-form {
    font-size: 14px;
}

.register-info {
    margin-left: 250px;
    text-align: center;
    max-width: 300px;
    z-index: 99;
}

.register-info {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 100%;
    max-width: 320px;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    max-width: 200px;
    width: 100%;
}

.info-text {
    font-size: 1.25rem;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}

.highlight {
    color: #DE9739;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
}

.close {
    font-size: 30px;
    font-weight: bold;
    border: none;
    background: transparent;
    cursor: pointer;
}